/* Navbar css starts */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    top: 0;
    width: 100%;
  }


  li {
    display: inline;
    float: left;
    font-size: 1.5rem;
    
  }

  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: cursive;
  }


  li a:hover {
    background-color: rgba(0, 0, 0, 0.285);
  }

.active {
  background-color: rgba(0, 0, 0, 0.285);
}

/* Navbar CSS ends */

body {
  background-image: url("/assets/pexels-bibhash-\(knapsnacklife\)-banerjee-1056528.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

}

@media (max-width: 480px) {
  body {
      background-image: url(/assets/pexels-bibhash-\(knapsnacklife\)-banerjee-1056528.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  body {
      background-image: url(/assets/pexels-bibhash-\(knapsnacklife\)-banerjee-1056528.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  }
}@media (min-width: 1025px) {
  body {
    background-image: url(/assets/pexels-bibhash-\(knapsnacklife\)-banerjee-1056528.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
 }
}