@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 234, 238);
  font-family:'Playfair Display', serif; 
}


html{
  font-size: 10px;

}

h1{
  font-size: 1.9rem;
}

p{
  font-size: 1.2rem;
}

header{
  width: 100%;
  height: 5rem;
  background-color: rgb(241, 212, 225);
}

.container{
  width: 96%;
  max-width: 115rem;
  margin:0 auto;
  
  
}


.navbar{
  width: 100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 1.5rem
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(226, 89, 146, 0.21);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar li {
    display: inline;
    float: left;
    font-size: 1.5rem;
  }
  .navbar li a {
    display: block;
    color: rgb(66, 62, 64);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: cursive;
  }
 .navbar li a:hover {
    background-color: rgba(10, 4, 8, 0.285);
    background-color: rgb(216, 142, 190);
  }
 
  .hero{
    max-width: 114rem;
    height: 40rem;
    background: url(Assets/wawel,krakowatnight.jpeg) 
    no-repeat center center/ cover;
    margin: 5rem auto;

  }

  img{
    height: 400px;
    width: 550px;
   } 

  main{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;
    border-radius: 1.5rem;
 }

 main h1{
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color:rgb(80, 5, 48)
 }

 main .profile-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
 }

main .profile-container .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

main .profile-container .profile .img-container{

}

main p{
  color: rgba(161, 3, 98, 0.963);
  margin: 1rem;
  text-align: left;
}

h3{
  font-size: 1.4rem;
  font-weight: 400;
  margin: 2rem 0;
  color:rgb(80, 5, 48)
}
main .content-img-container{
 width:100%;
 height: 40rem;
 background: url(assets/thesquare.jpeg)
 no-repeat center center / cover;
}

.tags{
  display:flex
  
}

.tags a{
  display: inline-block;
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  color:rgb(80, 5, 48)
  
 
  
}