/* Navbar css starts */

.dropdown-content {
  background-color: #05366c;
  color: #F2F4F3;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
  border-right: none !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
a.dropdown-arrow:after {
  content: " ▼";
  font-size: 0.2em;
} 
  
  /* Navbar CSS ends */

body { background-color: blueviolet; font-family: fantasy; font-size: xx-large; text-align: center;}

h1
{background-color: blueviolet; font-family: fantasy; font-size: xx-large; text-align: center;}

h2 
{background-color: blueviolet; font-family: fantasy; font-size: x-large; text-align: center;}

h3
{background-color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large; text-align: left;}

h4
{background-color: yellow; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: large; text-align: left;}
